<mat-form-field class="mat-form-field-fluid">
	<mat-select [(value)]="val" (selectionChange)="selectionChanged($event)" placeholder="{{placeholder}}">
		<mat-option value="T.C. Ticaret Bakanlığı">T.C. Ticaret Bakanlığı</mat-option>
		<mat-option value="T.C. Adalet Bakanlığı">T.C. Adalet Bakanlığı</mat-option>
		<mat-option value="T.C. Aile, Çalışma ve Sosyal Hizmetler Bakanlığı">T.C. Aile, Çalışma ve Sosyal Hizmetler Bakanlığı</mat-option>
		<mat-option value="T.C. Çevre ve Şehircilik Bakanlığı">T.C. Çevre ve Şehircilik Bakanlığı</mat-option>
		<mat-option value="T.C. Dışişleri Bakanlığı">T.C. Dışişleri Bakanlığı</mat-option>
		<mat-option value="T.C. Enerji ve Tabii Kaynaklar Bakanlığı">T.C. Enerji ve Tabii Kaynaklar Bakanlığı</mat-option>
		<mat-option value="T.C. Gençlik ve Spor Bakanlığı">T.C. Gençlik ve Spor Bakanlığı</mat-option>
		<mat-option value="T.C. Hazine ve Maliye Bakanlığı">T.C. Hazine ve Maliye Bakanlığı</mat-option>
		<mat-option value="T.C. İçişleri Bakanlığı">T.C. İçişleri Bakanlığı</mat-option>
		<mat-option value="T.C. Kültür ve Turizm Bakanlığı">T.C. Kültür ve Turizm Bakanlığı</mat-option>
		<mat-option value="T.C. Millî Eğitim Bakanlığı">T.C. Millî Eğitim Bakanlığı</mat-option>
		<mat-option value="T.C. Millî Savunma Bakanlığı">T.C. Millî Savunma Bakanlığı</mat-option>
		<mat-option value="T.C. Sağlık Bakanlığı">T.C. Sağlık Bakanlığı</mat-option>
		<mat-option value="T.C. Sanayi ve Teknoloji Bakanlığı">T.C. Sanayi ve Teknoloji Bakanlığı</mat-option>
		<mat-option value="T.C. Tarım ve Orman Bakanlığı">T.C. Tarım ve Orman Bakanlığı</mat-option>
		<mat-option value="T.C. Ulaştırma ve Altyapı Bakanlığı">T.C. Ulaştırma ve Altyapı Bakanlığı</mat-option>
	</mat-select>
	<mat-hint align="start">
		<strong>{{hint}}</strong>
	</mat-hint>
</mat-form-field>