<kt-portlet>
	<kt-portlet-header [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<span>Eylem Planı Madde Listesi</span>
			</h3>
		</ng-container>

		<ng-container *ngIf="isTicaret()" ktPortletTools>
			<button (click)="addEylemPlaniMadde()" mat-raised-button matTooltip="Yeni Eylem Planı Maddesi Oluştur"
				color="primary" type="button">
				<span>Yeni Eylem Planı Maddesi</span>
			</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-form kt-margin-b-30">
			<div class="kt-form__filtration">
				<div class="row align-items-center">

					
					<!-- <div class="kt-form__control">
						<mat-form-field>
							<mat-select [(value)]="filterStatus" (selectionChange)="loadEylemPlaniMaddesList()" class="mat-form-field mat-form-field-fluid">
								<mat-option value="">Hepsi</mat-option>
								<mat-option value="0,3">Taslak</mat-option>
								<mat-option value="6,6">Onaylandı</mat-option>
								<mat-option value="2,5">Red</mat-option>
								<mat-option value="1,4">Başkan Onay Bekleniyor</mat-option>
								

							</mat-select>
							<mat-hint align="start">
								<strong>Filter by Status</strong>
							</mat-hint>
						</mat-form-field>
					</div> -->

					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Maddelerin içinde Ara" #searchInput placeholder="Ara">
							<mat-hint align="start">
								Herhangi bir alanını içinde <strong>Ara</strong>
							</mat-hint>
						</mat-form-field>
					</div>

					

				</div>
			</div>
			<!-- end::FILTERS -->

			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS | See '../../_shared' folder -->
			<div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{'show' : selection.selected.length > 0}">
				<!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span>
								{{ selection.selected.length }}
							</label>
							<!-- selectedCountsTitle => function from codeBehind (eylemPlaniMadde-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						</div>
						<div class="kt-form__control kt-form__group--inline">
							<ng-template ngxPermissionsOnly="canDeleteECommerceData">
								<button (click)="deleteEylemPlaniMaddes()" mat-raised-button color="accent"
									matTooltip="Seçili Eylem Planı Maddelerini Sil" class="mat-button-mt-4">
									<mat-icon>delete</mat-icon>
									Hepsini Sil
								</button>&nbsp;
								<!-- Call 'delete-entity-dialog' from _shared folder -->
							</ng-template>

							<button (click)="fetchEylemPlaniMaddes()" mat-raised-button
								matTooltip="Seçili Eylem Planı Maddelerini Getir" class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Seçili Kayıtları Getir
							</button>&nbsp;
							<!-- Call 'fetch-entity-dialog' from _shared folder -->
							<button (click)="updateStatusForEylemPlaniMaddes()" mat-raised-button
								matTooltip="Eylem Planı Maddeleri Güncelle" class="mat-button-mt-4">
								<mat-icon>update</mat-icon>
								Statüleri Güncelle
						</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				matSortActive="id" matSortDirection="asc" matSortDisableClear>
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row" class="mat-column-checkbox">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
							[color]="'primary'">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="id">
					<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">{{eylemPlaniMadde.id}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="eylemPlan">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Eylem Planı</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">{{eylemPlaniMadde.eylemPlan}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="eylemArea">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Eylem Alanı</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">{{eylemPlaniMadde.eylemArea}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="eylemNo">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Eylem No</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">{{eylemPlaniMadde.eylemNo}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="eylemName">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Eylem Adı</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">{{eylemPlaniMadde.eylemName}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="eylemDatePeriod">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Eylem Dönemi</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">{{eylemPlaniMadde.localSigner}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
					<mat-cell *matCellDef="let product">
						<span
							class="kt-badge kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(product.status) }} kt-badge--wide">{{ getItemStatusString(product.status) }}</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>İşlem</mat-header-cell>
					<mat-cell *matCellDef="let eylemPlaniMadde">

						<ng-template *ngIf="eylemPlaniMadde.status ==0 || eylemPlaniMadde.status ==3" ngxPermissionsOnly="canEditEylemPlaniMadde">
							<button mat-icon-button color="primary" matTooltip="Eylem Planı Maddesini Onaya Gönder"
								type="button" (click)="onayBaskana(eylemPlaniMadde)">
								<mat-icon>check</mat-icon>
							</button>&nbsp;
						</ng-template>
						
						<ng-template *ngIf="eylemPlaniMadde.status !=6 && isTicaret()" ngxPermissionsOnly="canEditEylemPlaniMadde">
							<button mat-icon-button color="primary" matTooltip="Eylem Planı Maddesini Güncelle"
								(click)="editEylemPlaniMadde(eylemPlaniMadde)">
								<mat-icon>create</mat-icon>
							</button>&nbsp;
						</ng-template>

						<ng-template *ngIf="eylemPlaniMadde.status !=6 && isTicaret()" ngxPermissionsOnly="canDeleteEylemPlaniMadde">
							<button mat-icon-button color="warn" matTooltip="Eylem Planı Maddesini Sil" type="button"
								(click)="deleteEylemPlaniMadde(eylemPlaniMadde)">
								<mat-icon>delete</mat-icon>
							</button>&nbsp;
						</ng-template>
						
						<ng-template *ngIf="eylemPlaniMadde.status !=6" ngxPermissionsOnly="canOnayEylemPlaniMadde">
							<button mat-icon-button color="primary" matTooltip="Eylem Planı Maddesini Onayla"
								type="button" (click)="onayBaskan(eylemPlaniMadde)">
								<mat-icon>check</mat-icon>
							</button>&nbsp;
						</ng-template>
						<ng-template *ngIf="eylemPlaniMadde.status !=6" ngxPermissionsOnly="canOnayEylemPlaniMadde">
							<button mat-icon-button color="warn" matTooltip="Eylem Planı Maddesini Reddet" type="button"
								(click)="redBaskan(eylemPlaniMadde)">
								<mat-icon>close</mat-icon>
							</button>&nbsp;
						</ng-template>
						<!-- <ng-template>
							<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Onay">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item>
									<mat-icon>dialpad</mat-icon>
									<span>Redial</span>
								</button>
								<button mat-menu-item>
									<mat-icon>dialpad</mat-icon>
									<span>Redial</span>
								</button>
								<button mat-menu-item>
									<mat-icon>dialpad</mat-icon>
									<span>Redial</span>
								</button>
								<button mat-menu-item disabled>
									<mat-icon>voicemail</mat-icon>
									<span>Check voicemail</span>
								</button>
								<button mat-menu-item>
									<mat-icon>notifications_off</mat-icon>
									<span>Disable alerts</span>
								</button>
							</mat-menu>
						</ng-template> -->
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">Kayıt Bulunamadı</div>
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Lütfen Bekleyiniz....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->

</kt-portlet>