<!--begin::Form-->
	<form *ngIf="user" [formGroup]="changePasswordForm" class="kt-form kt-form--group-seperator-dashed">

		<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
			Şifreler Uyuşmuyor !!!
		</kt-alert>
		<div class="kt-form__section kt-form__section--first">
			<div class="form-group kt-form__group row mb-0">
				<div class="col-lg-8 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput type="password" id="password" autocomplete="off" placeholder="Şifreyi Giriniz" formControlName="password" />
						<mat-error>Şifre 
							<strong>zorunludur</strong>
						</mat-error>
						<mat-hint align="start">Lütfen
							<strong>Şifre</strong>yi giriniz 
						</mat-hint>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-8 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput type="password" id="confirmPassword" autocomplete="off" placeholder="Şifreyi Onaylayınız" formControlName="confirmPassword" />
						<mat-error>Onay Şifresi 
							<strong>zorunludur</strong>
						</mat-error>
						<mat-hint align="start">Lütfen
							<strong>Onay Şifre</strong>sini giriniz
						</mat-hint>
					</mat-form-field>
				</div>
			</div>
		</div>
		<div class="kt-separator kt-separator--dashed"></div>
		<div class="kt-form__actions kt-form__actions--solid">
			<button type="button" [disabled]="changePasswordForm.invalid" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Değişiklikleri Kaydet">
				Şifreyi Güncelle
			</button>
		</div>
	</form>
<!--end::Form-->
