<div class="kt-portlet"
    [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
        </div>
    </div>
    <form class="kt-form" [formGroup]="eylemPlaniKunyeForm">
        <div class="kt-portlet__body">

            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                Hata! Zorunlu alanları giriniz ve sonra tekrar deneyiniz.
            </kt-alert>

            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="KEK Giriniz" formControlName="kek" [matAutocomplete]="manuf">
                        <mat-autocomplete #manuf="matAutocomplete">
                            <mat-option *ngFor="let kek of filteredPlatformKunyes | async" [value]="kek">
                                {{ kek }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>
                            <strong>KEK</strong> zorunlu alandır
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>KEK</strong> giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Plan Adını Giriniz" formControlName="planName">
                        <mat-error>
                            Plan adı 
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Plan Adı</strong>nı giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Plan Dönemi Giriniz" formControlName="planPeriod">
                        <mat-error>
                            Plan Dönemi 
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Plan Dönem</strong>i giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Yerel İmzalayıcı Adını Giriniz" formControlName="localSigner">
                        <mat-error>
                            Yerel İmzalayıcı  
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Yerel İmzalayıcı Adı</strong>nı giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Yabancı İmzalayıcı Adını Giriniz" formControlName="foreignSigner">
                        <mat-error>
                            Yabancı İmzalayıcı  
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Yabancı İmzalayıcı Adı</strong>nı giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>   
            </div>
            <div class="kt-separator kt-separator--dashed"></div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-chip-list #chipList formControlName="areaName">
							<mat-chip *ngFor="let area of eylemPlaniKunyeForm.get('areaName').value" [selectable]="true" [removable]="true" (removed)="removeAreaName(area)">
								{{area}}
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
							<input placeholder="Alan Adını Giriniz" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addAreaName($event)" />
						</mat-chip-list>
                        <mat-error>
                           Alan Adı
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Alan Adı</strong>nı giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="kt-separator kt-separator--dashed"></div>
            <div class="form-group kt-form__group row">
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Sorumlu Kurum/Kuruluş Giriniz" formControlName="responsibleInstitution">
                        <mat-error>
                            Sorumlu Kurum/Kuruluş
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Sorumlu Kurum/Kuruluş</strong>u giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 kt-margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                        <input matInput placeholder="Sorumlu Başkan Giriniz" formControlName="responsiblePresident">
                        <mat-error>
                            Sorumlu Başkan
                            <strong>zorunludur</strong>
                        </mat-error>
                        <mat-hint align="start">Lütfen
                            <strong>Sorumlu Başkan</strong>ı giriniz
                        </mat-hint>
                    </mat-form-field>
                </div>   
            </div>
        </div>
        <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Değişiklikleri İptal Et">
                            İptal
                        </button>&nbsp;
                        <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Değişiklikleri Kaydet">
                            Kaydet
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
